.general-background {
    filter: brightness(39%);
}

html {
    scroll-behavior: smooth;
}

#about .featurette {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about #item {
    padding: 0rem 2rem;
}

#about p {
    text-align: justify;
}

#organizationBusiness .item {
    background: none;
}

#organizationBusiness .item i {
    margin-top: 1rem;
}

.imgComplement {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
}

@media (max-width: 768px) {
    /* Bump up size of carousel content */
    #about img {
        display: none;
    }
    #organizationBusiness .item {
        background: #f7f7f7;
    }
}

.popout {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}

@keyframes popout {
    from {
        transform: scale(0)
    }
    80% {
        transform: scale(1.2)
    }
    to {
        transform: scale(1)
    }
}

@-webkit-keyframes popout {
    from {
        -webkit-transform: scale(0)
    }
    80% {
        -webkit-transform: scale(1.2)
    }
    to {
        -webkit-transform: scale(1)
    }
}